
__pycache__/
*.pyc
*.pyo
*.pyd


env/
venv/
.venv/

*.ipynb
.ipynb_checkpoints/

*.h5
*.h5ad
*.h5df
*.mtx
*.loom
*.csv
*.tsv
*.txt
*.xlsx

*.gmt




tf_enrichr_results/
graph_result-*.txt

*.cache/
*.tmp
tmp/
temp/


